/*Global*/
* {
  font-family: "Merienda", cursive;
}

/*Header*/
#header {
  z-index: 99;
}
#header .navbar-toggler {
  font-size: 14px;
  padding: 2px 5px;
}
#mainNav {
  transition: all 0.2s ease-in-out;
}

/*Content and General Styles*/
#main {
  background-image: url("../public/images/bizCardsBG.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}
#mainOverlap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
}
.ltdSign {
  font-size: 18px;
  vertical-align: top;
}

/*Card Forms*/
#cardForm #googleMap .map-container {
  margin: 0;
}
#cardForm #googleMap #mapError {
  margin: 0 !important;
}

/*My Cards*/
#newCardBTN {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: auto;
  z-index: 99;
}
#newCardBTN span {
  font-size: 25px;
  padding: 5px 12px 6px;
}
.card .card-img-top {
  height: 200px;
  object-fit: cover;
}
.card .links span {
  font-size: 12px;
}
/*Cards- Mobile*/
@media (max-width: 767px) {
  .card {
    width: 90% !important;
  }
}

/*Card Full View*/
#backToCards {
  width: 40px;
  position: fixed;
  top: 65px;
  z-index: 99;
  box-shadow: 0 0 10px 0 #2e8753;
  border: 1px solid white;
}
#fullCardTop {
  padding: 100px 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #ffffff;
}
#googleMap .map-container {
  width: 50%;
  height: 300px;
  margin: auto;
}
#mapError {
  width: 50%;
}
/*Card Full View- Mobile*/
@media (max-width: 767px) {
  #googleMap .map-container {
    width: 95%;
    height: 300px;
    margin: auto;
  }
  #mapError {
    width: 80%;
  }
}

/*Light Mode*/
html[data-bs-theme="light"] nav,
html[data-bs-theme="light"] footer {
  background-color: #efdaff;
}
/*Dark Mode*/
html[data-bs-theme="dark"] nav,
html[data-bs-theme="dark"] footer {
  background-color: black;
}
html[data-bs-theme="dark"] h1,
html[data-bs-theme="dark"] h3,
html[data-bs-theme="dark"] h5,
html[data-bs-theme="dark"] p {
  color: white;
}
html[data-bs-theme="dark"] #mainOverlap {
  background-color: rgba(0, 0, 0, 0.7);
}
