/*My Cards*/
#newCardBTN {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: auto;
  z-index: 99;
}
#newCardBTN span {
  font-size: 25px;
  padding: 3px 11px 4px 13px;
}
.card {
  box-shadow: 0 0 10px 0 #ffffff;
}
.card .card-img-top {
  height: 200px;
  object-fit: cover;
}
h5.card-title:before,
h5.card-title:after {
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 25%;
  height: 1px;
  content: "\a0";
  background-color: black;
}
h5.card-title:after {
  margin-left: 2%;
  text-align: right;
}
h5.card-title:before {
  margin-left: -28%;
  text-align: right;
}
.card-body h5 {
  font-size: 35px;
}
.card .links span {
  font-size: 16px;
  line-height: 1em;
}
.card .links span i {
  position: relative;
  display: inline-block;
  bottom: -2px;
}
/*Cards- Mobile*/
@media (max-width: 767px) {
  .card {
    width: 90% !important;
  }
}

/*Card Full View*/
#backToCards {
  width: 40px;
  position: fixed;
  top: 65px;
  z-index: 99;
  box-shadow: 0 0 10px 0 #2e8753;
  border: 1px solid white;
  padding: 4px 0 4px 2px;
}
#fullCardTop {
  padding: 100px 0;
  background-position: center center;
  background-size: cover;
  width: 100%;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 #ffffff;
}
